body,h1, h2,p,ul{
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 18px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-left li,
.navbar-right li {
    margin: 0 15  px;
}

.navbar-left a,
.navbar-right a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.navbar-left a:hover,
.navbar-right a:hover {
    background-color: #575757;
}

.navbar-left {
    flex: 1;
}

.navbar-right {
    flex: 0;
}
.main-content {
    padding: 20px;
  }


  .main {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main p {
    font-size: 16px;
    line-height: 1.5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.main p br {
    margin-bottom: 10px;
}

img {
    width: 100vw;
    height: 180px;
    display: size;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }